body {
  font-family: "Baskervville_SC variant0", Tofu;
  margin: 0;
  padding: 0;
  transition: background-color 0.2s ease; 
  cursor: none;
  background-color: #DE6E4B;
}

html {
  scroll-behavior: smooth;
}

.div {
  height: 100vh;
}

.div2 {
  height: 100vh;
  color: white;
  padding-top: 50px;
}

.cursor {
  position: fixed;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  left: -100px;
  top: 50%;
  mix-blend-mode: difference;
  z-index: 10000;
  border: 2px solid white;
  background-color: #fff;
  height: 30px;
  width: 30px;
  transition: all 300ms ease-out;
}

header {
  font-size: 10px;
  color: white;
}

h1 {
  color: white;
}

.grid-awal {
  display: grid;
  background-color: transparant;
  color: white;
  margin-top: 120px;
  margin-left: 180px;
  margin-right: 500px;
}

.text-judul {
  font-size: 100px;
}

.text-bawahjudul {
  font-size: 30px;
  color: white;
  padding-bottom: 5%;
}

.container-navbar {
  background-color: rgba(255, 255, 255, 0.311);
  border-radius: 15px;
}

.ul-navbar {
  height: 70%;
  padding: 0%;
  align-items: center;
  display: flex;
  justify-content: center;

}

.li-navbar {
  color: white;
  border-radius: 10px;
  padding: 20px;
  list-style-type: none;
  font-size: 20px;

}

.li-navbar:hover {
  background-color: gray;
  transition: .3s ease-in-out;
  transition-delay: .1s;

}

.a-navbar {
  color: whitesmoke;
  text-decoration: none;

}

.grid3 {
  display: grid;
  background-color: transparant;
  margin-top: 100px;
  margin-left: 180px;
}

.text-judul2 {
  font-size: 80px;
}

p {
  font-size: 20px;
  color: white;
}

.grid-4 {
  padding: 50px;
  margin: 0%;
  display: grid;
  justify-items: center;

}

.h1-prestasi {
  margin: 0%;
  font-size: 50px;
}

.img-prestasi {
  size: 10%;


}