body {
  font-family: "Baskervville_SC variant0", Tofu;
  margin: 0;
  padding: 0;
  background-color: #131313;
}

.div {
  height: 100vh;
}
header {
  font-size: 10px;
  color: white;
}

.flex-container {
  display: flex;
  background-color: transparant;
  margin-top: 200px;
  margin-left: 270px;
}

.text-judul {
font-size: 100px;
}

.text-bawahjudul {
font-size: 30px;
color: white;
margin-top: 10px;
margin-left: 280px;
}
